/* Basic table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  th, td {
    padding: 12px 15px;
  }
  
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  /* Responsive styling */
  @media (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    table thead {
      display: none;
    }
  
    table tr {
      display: block;
      margin-bottom: 0.625em;
    }
  
    table td {
      display: block;
      text-align: right;
      font-size: 0.8em;
      border-bottom: 1px solid #dddddd;
      position: relative;
      padding-left: 50%;
    }
  
    table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }
  
    table tr:last-of-type td {
      border-bottom: 0;
    }
  }